.pointer-events-all{
  pointer-events: all;
}

.displacement {
    filter: url(#displacementFilter);
}

.outlineText {
    -webkit-text-stroke-width: 0.5px;
  /* -webkit-text-stroke-color: #FBF7ED; */
  text-shadow:
    1px 1px 3px #FBF7ED,
    -1px 1px 3px #FBF7ED,
    -1px -1px 3px #FBF7ED,
    1px -1px 3px #FBF7ED;
}

/* Scroll bar stylings */
#scrollTarget::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  #scrollTarget::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  /* Handle */
  #scrollTarget::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }

  /* Handle on hover */
  #scrollTarget::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }