#outlineText path:nth-child(1){
    stroke-dasharray: 1619.689453125;
    stroke-dashoffset: 1000.689453125;
}
#fullText path:nth-child(1){
    stroke-dasharray: 809.9430541992188;
    stroke-dashoffset: 0.689453125;
}