@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.redBorderTransition {
  transition: border 150ms ease-in-out;
}

.paddingTransition {
  transition: padding 150ms ease-in-out;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #D0D9C9;
  /* cursor: none; */
}

#cursor-inner {
  width: 12px;
  height: 12px;
  background: #246036;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 1s linear, width 0.2s linear, height 0.2s linear;
  pointer-events: none;
}

#cursor-outer {
  width: 32px;
  height: 32px;
  background-color: #D0D9C955;
  border-radius: 50%;
  border: 1px solid #246036;
  box-sizing: border-box;
  position: absolute;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s linear, border 0.3s linear,
    width 150ms linear, height 150ms linear, opacity 0.7s 0.3s linear;
  pointer-events: none;
}

button:focus-visible,
a:focus-visible {
  outline: 2px solid #AA0606;
}

.bgCubes {
  background-image: url("assets/cubes2.png");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Responsiveness */