@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.redBorderTransition {
  transition: border 150ms ease-in-out;
}

.paddingTransition {
  transition: padding 150ms ease-in-out;
}

.textTransition {
  transition: font 150ms ease-in-out;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #D0D9C9;
}

button:focus-visible,
a:focus-visible {
  outline: 2px solid #AA0606;
}

.bgCubes {
  background-image: url("assets/cubes2.png");
}

.fadeB4Contact {
  background: #246036;
background: -webkit-linear-gradient(180deg, #24603600 10%, #246036 30%);
background: linear-gradient(180deg, #24603600 10%, #246036 30%);
}

#contact {
  background: #246036;
background: -webkit-linear-gradient(0deg, #0d2113 0%, #246036 100%);
background: linear-gradient(0deg, #0d2113 0%, #246036 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scroll-down {
  transform: translateY(-120%);
}

.scroll-up {
  
}